body{
    margin: 0;
}
.headercontainer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: black;
    color: white;
    height: 10vh;
    padding: 6px;
}
a {
    text-decoration: none;color: white;margin: 0 10px
}
.logo, img{
    height: 100%;
}
.menuheader{
    align-items: center;
    display: flex;
    margin: 15px;
    margin: 10px;
}
.menuitems{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.container{
    background-color: brown;
    display: flex;
    min-height: 100vh;
    position: relative;
    
}
.firstContainer{
    width: 100%;
    display: flex;
}
.leftContainer, .rightContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.secondContainer{
    width: 100%;
    display: flex;
}
.container2{
    background-color: burlywood;
    display: flex;
    min-height: 100vh;
    position: relative;
}
.leftContainer2, .rightContainer2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row, .h2, .ul{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-around;
    text-align: center;
}
ul{padding: 0;}
li{list-style: none; text-align: center; margin: 10px;}